.transactionHistory {
  width: 700px;
  height: 1000px;
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  .thead {
    background-color: rgb(98, 185, 214);
    color: white;
    height: 50px;
    text-transform: uppercase;
  }
  .tbody {
    color: grey;
  }
  .th {
    padding: 25px;
    border: 1px solid lightgrey;
  }
  .td {
    border: 1px solid lightgrey;
  }
}
